<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/plist/dialog2/pub_panel_buycoins_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,658},{307,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,33}</string>
			</dict>
			<key>images/plist/dialog2/button_music_dis1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,109},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog2/button_music1.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,451},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog2/button_sound_dis1.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,451},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog2/button_sound1.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,673},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog2/christmas_button_pause1.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,451},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog2/christmas_button_pause2.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,812},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog2/christmas_panel_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1},{480,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,124}</string>
			</dict>
			<key>images/plist/dialog2/panel_pub3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{731,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{731,257}</string>
			</dict>
			<key>images/plist/dialog2/help_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,734},{286,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,367}</string>
			</dict>
			<key>images/plist/dialog2/help_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1},{286,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,367}</string>
			</dict>
			<key>images/plist/dialog2/help_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,370},{286,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,367}</string>
			</dict>
			<key>images/plist/dialog2/help_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,693},{286,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,367}</string>
			</dict>
			<key>images/plist/dialog2/flag_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,590},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/dialog2/flag_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,366},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/dialog2/flag_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,720},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/dialog2/item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,370},{369,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{369,79}</string>
			</dict>
			<key>images/plist/dialog2/btn_mapnav.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,914},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>images/plist/dialog2/icon_coin01.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,590},{60,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,49}</string>
			</dict>
			<key>images/plist/dialog2/icon_coin02.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,306},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>images/plist/dialog2/icon_coin03.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,306},{60,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,67}</string>
			</dict>
			<key>images/plist/dialog2/icon_coin04.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,590},{81,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,68}</string>
			</dict>
			<key>images/plist/dialog2/icon_coin05.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,280},{76,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,78}</string>
			</dict>
			<key>images/plist/dialog2/icon_coin06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,1},{76,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,78}</string>
			</dict>
			<key>images/plist/dialog2/flag_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,306},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>images/plist/dialog2/panel_coin_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,127},{151,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,193}</string>
			</dict>
			<key>images/plist/dialog2/noads.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,590},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>images/plist/dialog2/gift_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,1},{157,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,106}</string>
			</dict>
			<key>images/plist/dialog2/gift_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,272},{156,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,92}</string>
			</dict>
			<key>images/plist/dialog2/gift_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,718},{121,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,194}</string>
			</dict>
			<key>images/plist/dialog2/gift_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,590},{68,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,72}</string>
			</dict>
			<key>images/plist/dialog2/gift_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,280},{78,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,81}</string>
			</dict>
			<key>images/plist/dialog2/gift_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,280},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,81}</string>
			</dict>
			<key>images/plist/dialog2/star_pro_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,693},{240,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,23}</string>
			</dict>
			<key>images/plist/dialog2/star_pro_fore.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,658},{231,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,17}</string>
			</dict>
			<key>images/plist/dialog2/box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,127},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>
			<key>images/plist/dialog2/box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,127},{177,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,172}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img_dialog2.png</string>
			<key>realTextureFileName</key>
			<string>img_dialog2.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>