<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/plist/tex_symbol/add5moves.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1746},{101,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,98}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_left_bottom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,919},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_left_bottom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1049},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_left_bottom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1179},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_left_top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1309},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_left_top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1439},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_left_top3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1569},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_right_bottom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1699},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_right_bottom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1829},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_right_bottom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,919},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_right_top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,771},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_right_top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1049},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/cake_right_top3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1179},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,121},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,241},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,361},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,481},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,601},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,721},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,841},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,961},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1081},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1201},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1390},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1510},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,1386},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1630},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,1506},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1750},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1626},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1927},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1675},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1797},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1919},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1675},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1797},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1534},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1144},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1274},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1404},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1534},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_5_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1664},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_6_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,1547},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_6_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1919},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_6_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1669},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_6_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1791},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_6_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1913},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_6_6_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,897},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,764},{117,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,123}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1019},{117,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,123}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1144},{117,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,123}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1269},{117,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,123}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1019},{117,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,123}</string>
			</dict>
			<key>images/plist/tex_symbol/candy_7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,889},{117,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,123}</string>
			</dict>
			<key>images/plist/tex_symbol/charge_tool_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1309},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/chocolate1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1439},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/chocolate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1569},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2039},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>images/plist/tex_symbol/footcloth.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,771},{146,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,140}</string>
			</dict>
			<key>images/plist/tex_symbol/hardstone1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1699},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/hardstone2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1829},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/hardstone3.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,901},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/hardstone4.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,771},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/hardstone5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2044},{3,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,3}</string>
			</dict>
			<key>images/plist/tex_symbol/jelly1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/jelly2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/jellybear.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{384,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,768}</string>
			</dict>
			<key>images/plist/tex_symbol/lock1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,261},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/lock2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,391},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/move_stone1.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1549},{124,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,122}</string>
			</dict>
			<key>images/plist/tex_symbol/move_stone2.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1675},{124,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,122}</string>
			</dict>
			<key>images/plist/tex_symbol/move_stone3.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1801},{124,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,122}</string>
			</dict>
			<key>images/plist/tex_symbol/move_stone4.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1549},{124,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,122}</string>
			</dict>
			<key>images/plist/tex_symbol/move_stone5.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,1421},{124,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,122}</string>
			</dict>
			<key>images/plist/tex_symbol/moveoil1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,521},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/moveoil2.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1031},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/oil1.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1161},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/oil2.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1291},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/same.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1421},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/stone_oil.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1421},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>images/plist/tex_symbol/stone1.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1551},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/stone2.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1681},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/stone3.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1811},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/stone4.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,901},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/stone5.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,767},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/symbol_charge_progress_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1959},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>images/plist/tex_symbol/symbol_charge_progress_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,1321},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>images/plist/tex_symbol/target_bear.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1959},{78,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1404},{110,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,651},{114,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,651},{111,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1144},{110,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1014},{110,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1144},{111,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1274},{111,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1274},{110,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1794},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1904},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1904},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_firefly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1404},{110,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_same.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,261},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/target_stone_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,391},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/symbol_firfly_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,521},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/transparent_candy_sprite.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1081},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>images/plist/tex_symbol/common_shouzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1321},{67,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,89}</string>
			</dict>
			<key>images/plist/tex_symbol/tutorualmask.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1031},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/common_shouzhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1959},{69,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,87}</string>
			</dict>
			<key>images/plist/tex_symbol/magic_beforebombbomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1161},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/magic_beforelineline.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1291},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_symbol/drop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1870},{115,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,113}</string>
			</dict>
			<key>images/plist/tex_symbol/drop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1941},{118,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img_tex_symbol.png</string>
			<key>realTextureFileName</key>
			<string>img_tex_symbol.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>