<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/plist/tex_map/map_bar_d0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{16,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,150}</string>
			</dict>
			<key>images/plist/tex_map/map_bar_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{150,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,16}</string>
			</dict>
			<key>images/plist/tex_map/map_cell_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_map/map_cell_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_map/map_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,391},{128,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,94}</string>
			</dict>
			<key>images/plist/tex_map/map_road_angle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_map/map_road_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>images/plist/tex_map/borders_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,49},{35,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>
			<key>images/plist/tex_map/borders_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>images/plist/tex_map/borders_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,85},{35,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>
			<key>images/plist/tex_map/borders_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,91},{34,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>images/plist/tex_map/borders_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>images/plist/tex_map/borders_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,91},{34,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>images/plist/tex_map/borders_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,122},{35,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>
			<key>images/plist/tex_map/borders_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,43},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>images/plist/tex_map/borders_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,91},{35,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>
			<key>images/plist/tex_map/cross_border_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1},{46,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,60}</string>
			</dict>
			<key>images/plist/tex_map/cross_border_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1},{46,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,60}</string>
			</dict>
			<key>images/plist/tex_map/interior_borders_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,43},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>images/plist/tex_map/interior_borders_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,49},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>images/plist/tex_map/interior_borders_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,49},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>images/plist/tex_map/interior_borders_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,85},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img_tex_map.png</string>
			<key>realTextureFileName</key>
			<string>img_tex_map.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>