<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/plist/dialog1/panel_up_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,104},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>images/plist/dialog1/magicpub_frame_count.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,517},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>images/plist/dialog1/panel_up_move.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1660},{40,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,25}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,1990},{55,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,95}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl11.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,699},{56,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,84}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl8.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1660},{29,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,35}</string>
			</dict>
			<key>images/plist/dialog1/btn_green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1853},{281,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,144}</string>
			</dict>
			<key>images/plist/dialog1/btn_green_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1276},{281,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,144}</string>
			</dict>
			<key>images/plist/dialog1/btn_red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1276},{281,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,144}</string>
			</dict>
			<key>images/plist/dialog1/btn_red_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,1844},{281,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,144}</string>
			</dict>
			<key>images/plist/dialog1/btn_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1},{281,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,144}</string>
			</dict>
			<key>images/plist/dialog1/btn_yellow_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1876},{323,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,161}</string>
			</dict>
			<key>images/plist/dialog1/button_add_coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,699},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>images/plist/dialog1/button_buy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1650},{295,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,101}</string>
			</dict>
			<key>images/plist/dialog1/button_buy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,474},{295,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,101}</string>
			</dict>
			<key>images/plist/dialog1/button_close1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1559},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog1/button_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,260},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog1/button_retry1.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1559},{161,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,89}</string>
			</dict>
			<key>images/plist/dialog1/button_retry2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1753},{161,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,89}</string>
			</dict>
			<key>images/plist/dialog1/button_setting1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,104},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog1/button_setting2.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,243},{134,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>images/plist/dialog1/christmas_panel_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,674},{480,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,166}</string>
			</dict>
			<key>images/plist/dialog1/finish_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,1990},{133,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,51}</string>
			</dict>
			<key>images/plist/dialog1/finish_star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,577},{118,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,120}</string>
			</dict>
			<key>images/plist/dialog1/finish_star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,921},{118,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,120}</string>
			</dict>
			<key>images/plist/dialog1/finish_text_score_fail.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1695},{337,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,71}</string>
			</dict>
			<key>images/plist/dialog1/level_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1156},{480,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,118}</string>
			</dict>
			<key>images/plist/dialog1/lose_bizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1},{113,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,96}</string>
			</dict>
			<key>images/plist/dialog1/magic_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,460},{52,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,55}</string>
			</dict>
			<key>images/plist/dialog1/more_star_ban.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1043},{104,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,127}</string>
			</dict>
			<key>images/plist/dialog1/neikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,792},{127,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,126}</string>
			</dict>
			<key>images/plist/dialog1/panel_daily_node_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1154},{103,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>images/plist/dialog1/panel_game_boss.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1287},{480,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,144}</string>
			</dict>
			<key>images/plist/dialog1/panel_pub6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{452,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,642}</string>
			</dict>
			<key>images/plist/dialog1/panel_pub7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,645},{452,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,642}</string>
			</dict>
			<key>images/plist/dialog1/panel_pub8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1289},{462,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,600}</string>
			</dict>
			<key>images/plist/dialog1/panel_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1},{671,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{671,158}</string>
			</dict>
			<key>images/plist/dialog1/panel_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1},{80,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,67}</string>
			</dict>
			<key>images/plist/dialog1/panel_up_bar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,657},{122,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,133}</string>
			</dict>
			<key>images/plist/dialog1/panel_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1891},{480,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,150}</string>
			</dict>
			<key>images/plist/dialog1/pic_coin_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1},{295,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,101}</string>
			</dict>
			<key>images/plist/dialog1/pic_role_checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,1999},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,40}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,1990},{57,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,96}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl12.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,399},{59,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,153}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,577},{57,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,74}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1999},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl4.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1999},{51,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,44}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl5.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1999},{66,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,48}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,104},{163,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,112}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl7.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1660},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl9.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,284},{188,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,172}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_magic_frame_enabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,774},{103,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_magic_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1853},{184,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,21}</string>
			</dict>
			<key>images/plist/dialog1/pic_stars_count_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1768},{164,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,62}</string>
			</dict>
			<key>images/plist/dialog1/pic_target_single_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1999},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>images/plist/dialog1/rate_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,921},{118,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,120}</string>
			</dict>
			<key>images/plist/dialog1/title_loading_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1769},{382,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,82}</string>
			</dict>
			<key>images/plist/dialog1/title_loading_fore.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1276},{382,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,82}</string>
			</dict>
			<key>images/plist/dialog1/UI_stage block in hole color.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1043},{109,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,106}</string>
			</dict>
			<key>images/plist/dialog1/UI_stage block in hole.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1043},{109,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,106}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl13.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1276},{9,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,12}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl14.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1276},{7,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,11}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,1753},{130,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl16.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,577},{130,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>images/plist/dialog1/pic_select_girl17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1999},{28,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img_dialog1.png</string>
			<key>realTextureFileName</key>
			<string>img_dialog1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>