<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/plist/tex_particle/particle_chocolate1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>images/plist/tex_particle/particle_chocolate2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,456},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>images/plist/tex_particle/particle_f0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>images/plist/tex_particle/particle_f1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,53},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>images/plist/tex_particle/particle_f2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,105},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>images/plist/tex_particle/particle_f3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>images/plist/tex_particle/particle_f4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,209},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>images/plist/tex_particle/particle_f5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>images/plist/tex_particle/particle_hardstone1.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,101},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>images/plist/tex_particle/particle_hardstone2.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,149},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>images/plist/tex_particle/particle_hardstone3.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,197},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>images/plist/tex_particle/particle_hardstone4.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,245},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>images/plist/tex_particle/particle_hardstone5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,363},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>images/plist/tex_particle/particle_jelly1.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,1},{48,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,45}</string>
			</dict>
			<key>images/plist/tex_particle/particle_jelly2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,313},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>images/plist/tex_particle/particle_lock1.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,51},{44,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,48}</string>
			</dict>
			<key>images/plist/tex_particle/particle_lock2.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,973},{36,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,30}</string>
			</dict>
			<key>images/plist/tex_particle/particle_move_stone1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,845},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_move_stone2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,889},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_move_stone3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,933},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_move_stone4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,977},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_move_stone5.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,845},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_moveoil1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,765},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>images/plist/tex_particle/particle_moveoil2.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,889},{34,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>images/plist/tex_particle/particle_oil1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,805},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>images/plist/tex_particle/particle_oil2.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,931},{34,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>images/plist/tex_particle/particle_stone_oil.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,501},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_stone1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,545},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_stone2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,589},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_stone3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,633},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_stone4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,677},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>images/plist/tex_particle/particle_stone5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>img_tex_particle.png</string>
			<key>realTextureFileName</key>
			<string>img_tex_particle.png</string>
			<key>size</key>
			<string>{128,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>